.card {
    height: 90%;
    margin-top:20px;
}

.card-img-top {
    align-self: center;
}

.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-left: 20px;
}

.Card.Body{
    display: 'flex'; 
    flex-direction: 'column';
    justify-content: 'space-between';
}

.button-bottom{
    margin-top: '12px'
}

.open-button{
    margin-bottom: auto;
    position: static;

}

.open-btn:hover, .open-btn:focus, .open-btn:active {
    background: hsl(186, 100%, 38%) !important;
    border-color: #000 !important;
  }