.card {
    height: 100%;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.card-img-top {
    align-self: center;
}

.card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}