.main-view {
    height: 100% !important;
    width: 100%;
}
.main-view-shell {
    //background-color: #fff;
    height: 100% !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}