.back-button, .genre-btn, .director-btn{
    margin-top:20px;
    margin-bottom:40px;
    margin-right: 30px;
}

.favourite-button {
    margin-top:5px;
    margin-bottom:30px;
    margin-right: 30px;
}

.back-button:hover, .back-button:focus, .back-button:active, .favourite-button:hover, .favourite-button:focus, .favourite-button:active {
    background: hsl(186, 100%, 38%) !important;
    border-color: #000 !important;
  }

.movie-poster{
    margin: 30px;
}

.label {
    font-weight: 500 !important;
}

