.favourite-button, .back-button {
    margin-top:5px;
    margin-bottom:30px;
    width: 80%;
    align-self: center;
}

.genre, .director{
    align-self: center;
    width: 50%;
    margin-bottom: 20px;
}

.back-button:hover, .back-button:focus, .back-button:active, 
.favourite-button:hover, .favourite-button:focus, .favourite-button:active, 
.genre-btn:hover, .genre-btn:focus, .genre-btn:active,
.director-btn:hover, .director-btn:focus, .director-btn:active  {
    background: hsl(186, 100%, 38%) !important;
    border-color: #000 !important;
  }

.movie-poster{
    margin: auto;
    padding: 20px;
}

.label {
    font-weight: 500 !important;
}

.text-container{
   margin-left: 30px;
   margin-right: 20px;
}
