.director-back-button:hover, .director-back-button:focus, .director-back-button:active {
    background: hsl(186, 100%, 38%) !important;
    border-color: #000 !important;
  }

  .director-back-button, .director-name{
    margin-top:40px;
  }

  .director-bio{
    font-size: larger;
    margin-top: 20px;
  }